*{    
    text-decoration: none;
    background-repeat: no-repeat;   
}
body{
    margin:0;
    /* font-family: 'Courgette', cursive; */
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: auto;
    width: 80%;
}
.flex_container {
    display: flex;
}
.foc_btn{
    color: #fff;
    padding: 10px 25px;
    background-image:linear-gradient(tomato, rgb(236, 54, 30));
    border-radius: 5px;
}
section{
    margin-bottom: 100px; 
}
/* focusc section */
.foc_all_item{
    padding-top: 80px;
}
.left_foc_item{
    width: 50%;
    padding-right: 20%;
}
.foc_h1{
    font-family: 'Courgette', cursive; 
    font-size: 35px;
}
.foc_h1 span{ 
    color: orange;
}
.foc_text{
    /* font-family: 'Courgette', cursive; */
    color: dimgray;
    line-height: 30px;
    padding:  20px 0 10px 0;
}
.btn{
    color: #fff;
    padding: 10px 25px;
    background-image:linear-gradient(tomato, rgb(236, 54, 30));
    border-radius: 5px;
}
.right_foc_item{
    width: 50%;
}
.right_foc_item img{ 
    width: 90%;
}

/* mission Section */
#mission_section h1{ 
    text-align: center;
    font-size: 50px;
}
#mission_section span{
    color: orange;
}
.mission_card {
    width: 30%;
    background: rgb(248, 200, 207);
    margin-right: 20px;
    padding: 20px;
    padding-bottom: 0;
    border-radius:10px;
}
.mission_card:first-child{
    background: rgb(185, 221, 241);
}
.mission_card:nth-child(2){
    background: rgb(245, 229, 177);
}
.mission_card img {
    width: 50%;
}
.mission_tittle{
    font-size: 20px;
}
.mission_text{
    color: dimgray;
    line-height: 25px;
}
/* develop section */
#develop_section{
    background-image: url(/Images/shape-1.png);
    background-position: left;
    background-size: 20%;
}
.left_deve_item{
    width: 40%;
}
.left_deve_item img{
    width: 80%;
}
.right_deve_item{
    width: 60%;
}
.deve_headding{
    font-size: 30px;
    color: rgb(56, 55, 55);
}
.deve_text{
    
}